
.react-datepicker__input-container > input{
    background-color: rgb(255 255 255 / 15%);
    border-radius: 5px;
    color: white;
    border: none;
    width: 220px;
    padding: 4px;
    margin-left: 10px;
    outline: none;
    font: inherit;
}
.react-datepicker__close-icon{
    position: relative;
    left: 10px;
}