
.react-datepicker__input-container > input{
    background-color: rgb(255 255 255 / 15%);
    border-radius: 4px;
    color: white;
    border: none;
    width: 220px;
    padding: 2px 2px 2px 9px;
    margin-left: 10px;
    outline: none;
    font: inherit;
}
.react-datepicker__close-icon{
    position: relative;
    left: 10px;
}

.MuiSvgIcon-root, .MuiTableSortLabel-icon, .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon{
    color: white !important;
}